.container {
    display: inline-flex;
    flex-direction: column;
}

/* =========================================
   DISABLE LAYOUT MODE
   ========================================= */

.no-typography .container {
    display: block;
}

/*Add different screen size layouts*/

